<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WanderInn</title>
</head>
<body>
    <h2>Create a New Listing</h2>
    <form method="POST" action="/listings">
        <input type="text" name="listing[title]" placeholder="Title" required />
        <br /><br />
        <textarea name="listing[description]" placeholder="Description" required></textarea>
        <br /><br />
        <input type="text" name="listing[image]" placeholder="Image URL"  />
        <br /><br />
        <input name="listing[price]" type="number" placeholder="Price" required />
        <br /><br />
        <input type="text" name="listing[location]" placeholder="Location" required />
        <br /><br />
        <input type="text" name="listing[country]" placeholder="Country" required />
        <br /><br />
        <button>Add</button>
    </form>
</body>
</html>